*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --header-background-color: darkblue;
    --invalid: #c4412a;
    --blue-color: #465d84;
    --white-color: #ffffff;
    --black-color: #282525;
    --purple-color: #6904f7;

    /* --font-family: "Nunito", sans-serif; */
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: lightcyan;
    /*background-image: url('../images/quizbackground.png'); */
    background-size: fit;

}

.main-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin: 30px;
    overflow: hidden;    
}