*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --header-background-color: rgb(113, 0, 139);
    --invalid: #c4412a;
    --blue-color: #465d84;
    --white-color: #ffffff;
    --black-color: #282525;
    --purple-color: #6904f7;
    --background-color: #e8dcfc;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--background-color);
    min-height: 100vh;
    flex-direction: column;
}

.main-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin: 30px;
    overflow: hidden;  
}