/* --------------------------------------------------- */
/* Show/Hide Answer button*/

.show-answer, .hide-answer {
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    font-size: 14px;
    text-align: center;
    align-self: center;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: 0.4s;
    background-color: var(--blue-color);
    color: var(--white-color)
}

.show-answer:hover , .hide-answer:hover{ 
    color: white;
  }

.show-answer::before, .hide-answer::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background:  #84b8f8;
    color: white;
    transition: 0.4s;
    z-index: 0;
    border-radius: 500px;
    left: 50%;
    top: 50%;
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0);
}

.show-answer:hover:before , .hide-answer:hover:before {
  opacity: 0.5;
  transform: translate(-50%, -50%) scale(1);
}

/* --------------------------------------------------- */
/* Bookmark Button*/

.add-to-bookmark {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  position: absolute;
  top: -1px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
/*transition: 0.3s;
  transform: translate(-50%, -20%); 
}
  */

.add-to-bookmark i {
  transition: color 1s ease;
}


.add-to-bookmark.filled i {
  color: rgb(30, 48, 80); 
}


.add-to-bookmark.filled {
color: #1e3050;
}

.add-to-bookmark:hover, .add-to-bookmark:focus {
  color: #02a7f3;
}