.navigation {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-self: flex-end;
    align-items: center;
    height: 40px;
    box-shadow: 0px 0px 20px rgba(69, 1, 57, 0.942);
    background-color: #660066;
    border-radius: 30px;
    margin-top: 10px
}

/*
.navbar {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    background-color: lightblue;
    align-self: center;
}
    */

.navigation--list {
    display: flex; 
    list-style: none; 
    width: 100%;
    justify-content: space-around;
    }
    

.navigation--item, .navigation--item a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(235, 227, 243);
}

.navigation--item i {
    font-size: 20px;;
}

.navigation--item.navigation--item--active a,
.navigation--item a:hover,
.navigation--item a:focus {
    background: #b4a2ef;
}

