header {
    display: flex;
}

h1 {
    text-align: center;
    background-color: var(--header-background-color);
    color: lightseagreen;
    font-size: 3em;
    width: 100%;
    margin: 20px;
    top: 0;
    text-shadow: 4px 4px black;
}