
/*Profile page*/
.profile--details {
    border: 5px dotted darkblue;
    padding: 20px;
    margin: auto;
    background-color: white;
}

#profileImg {
    border-radius: 30%;
    width: 200px;
    height: 150px;

}

.dob {
    display: none;
}

.email {
    display: none;
}

.location {
    border: none;
    margin: 0;
    padding: 0;
}


/*Bookmarks page*/
.question-cards {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 50px 0px;
    margin: 0;
  }
  
 