
/*Profile page*/
.profile--page {
  margin: 0;
    margin: 50px;
    padding: 50px;
}

.profile--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile--intro {
    border: 5px dotted var(--background-color); 
}

p {
    text-align: justify;
    /*border: 1px solid;*/
    padding: 10px;
}

.profile--details {
    margin: auto;
    padding: 10px;

}

#profileImg {
    border-radius: 40%;
    width: 200px;
    height: 150px;
}

.profile--contact {
    display: flex;
    justify-content: space-around;
}

.location {
    margin: 0;
    padding: 0;
}


